 
.contianer--footer {
    border-top: 1px solid  #141414;     
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_home a {
    color: var(---eerie-black);
    font-size: 3rem;
    font-family: 'Cooper Hewitt';
    text-decoration: none;
    letter-spacing: 2px;
}

.container_links--footer {
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_links--footer a {
    color: var(--light-grey);
    font-family: 'Cooper Hewitt';
    font-size: 1.6rem;
    margin: 0 .8rem;
    text-decoration: none;
}

.container_redes-footer a {
    text-decoration: none;
}

.container_redes-footer img {
    width: 3.5rem;
    margin: 0 .5rem 1.5rem .5rem;
}

.container_text--footer {
    padding-bottom: 1rem;
}

.container_text--footer span {
    font-family: 'Cooper Hewitt';
    font-size: 1.2rem;
    letter-spacing: 1px;
}


.container_text--footer img {
    width: 1.2rem;
    margin: 0 .2rem;
}

.container_text--footer span:nth-child(4) {
    color: var(--beaver);
}